*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 1000px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.header{
    width: 100%;
    height: 138px;
    
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.header-1{
    width: 685px;
    height: 28px;
    background-color: #2c2c2c;
    margin-left:230px;
    display: flex;
    justify-content: space-between;
}

.qutu{
    width: 320px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nomre{
    font-size: 15px;
    color: #c5c5bb;
}
.qutu-1{
    width: 305px;
    height: 15px;
    display: flex;
    justify-content: space-around;
}
.rus{
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.giris{
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.header-2{
    width: 920px;
    height: 65px;
    background-color:#444444 ;
    position: relative;
}
.blok{
    width: 689px;
    height: 65px;
    background-color: #444444;
    margin-left: 228px;
    display: flex;
}
.bina{
    width: 228px;
    height: 65px;
    background-color: #444444;
    border: 1px solid #636363;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yaz{
    font-size: 32px;
    color: white;
    cursor: pointer;
}


.box{
    width: 225px;
    height: 85px;
    background-color: #cb1319;
    border: 1px solid #cb1319;
   bottom: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.turbo{
    font-size: 33px;
    color: white;
    cursor: pointer;
}
.alqi{
    font-size: 13px;
    color: white;
}



.header-3{
    width: 100%;
    height: 50px;
    background-color: #cb1319;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.salon{
    width:625px;
    height: 30px;
    background-color: #ca1016;
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}

.salon-1{
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.elan{
    width: 205px;
    height: 50px;
    background-color:#7ed321 ;
    margin-right: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elan-1{
    font-size: 15px;
    color: white;
    cursor: pointer;
}



.top{
    width: 920px;
    height: 105px;
    background-color: #d8d8d8;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-1{
    width: 880px;
    height: 50px;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top-2{
    width: 880px;
    height: 50px;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mark-1{
    width: 150px;
    height: 30px;
    border-radius: 4%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mark-2{
    width: 250px;
    height: 30px;
    background-color: white;
    display: flex;
}
.qiymet{
    width: 62px;
    height: 30px;
    border: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mark-3{
    width: 100px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mark-4{
    width: 150px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mark-5{
    width: 150px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mark-6{
    width: 150px;
    height: 30px;
    background-color:#c71b25 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mark-7{
    width: 150px;
    height: 30px;
    background-color:#797979 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.baza{
    font-size: 14px;
    color: #919191;
}
.baza-1{
    font-size: 14px;
    color: #c71c26;
}
.baza-2{
    font-size: 14px;
    color: white;
    cursor: pointer;
}







.reklam{
    width: 920px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.reklam-1{
    width: 240px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.vip{
    font-size: 14px;
}
.vip-1{
    font-size: 14px;
    color: black
}
.vip-1:hover{
    color: #5c68d2;
    border-bottom: 1px solid #5c68d2;
    cursor: pointer;

}
.vip-2{
    font-size: 14px;
    color: #ff5a5a;
    cursor: pointer;
}




.masin{
    width: 920px;
    height: 280px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bmw{
    width: 210px;
    height: 260px;
    border: 1px solid#ebebeb;
}
.bmw-1{
    width: 210px;
    height: 180px;
    background-image: url(../css/img/gax.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.box-1{
    width: 80px;
    height: 30px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.write{
    font-size: 18px;
    color: white;
}
.bmw-2{
    width: 210px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.bmw-3{
    width: 210px;
    height: 180px;
    background-image: url(../css/img/gaz.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.bmw-4{
    width: 210px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; 
}
.bmw-5{
    width: 210px;
    height: 180px;
    background-image: url(../css/img/gaz1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.bmw-6{
    width: 210px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; 
}
.bmw-7{
    width: 210px;
    height: 180px;
    background-image: url(../css/img/gaz2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.bmw-8{
    width: 210px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; 
}
.bmw-9{
    width: 210px;
    height: 180px;
    background-image: url(../css/img/za.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.bmw-10{
    width: 210px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; 
}
.bmw-11{
    width: 210px;
    height: 180px;
    background-image: url(../css/img/za1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.bmw-12{
    width: 210px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; 
}
.bmw-13{
    width: 210px;
    height: 180px;
    background-image: url(../css/img/za2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.bmw-14{
    width: 210px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; 
}
.bmw-15{
    width: 210px;
    height: 180px;
    background-image: url(../css/img/za3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.bmw-16{
    width: 210px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; 
}
.adi{
    width: 170px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.porche{
    font-size: 19px;
}
.porche-1{
    font-size: 10px;
    color: #4a4a4a;
}
.adi-2{
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.porche-2{
    font-size: 12px;
    color: #b196a4;
}

.masin-1{
    width: 920px;
    height: 280px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}




.son{
    width: 100%;
    height: 170px;
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.son-0{
    width: 900px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.son-1{
    width: 250px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fin{
    font-size: 12px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.fin-1{
    color: white;
}

.son-2{
    width: 500px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.uzun{
    font-size: 13px;
    color: #979797;
}
.son-3{
    width: 100px;
    height: 130px;
    border: 1px solid black;
    background-image: url(../css/img/logo.gif);
    background-repeat: no-repeat;
    background-size: cover;
}